.block--webform-client-block-105 {
  margin-bottom: $vert-spacing-unit;
  background: $basecolor;
  padding: $vert-spacing-unit $horz-spacing-unit;
  h2.block__title {
    line-height: 36px;
    color: $white;
  }
  //Hide the mandatory labels Grrr!
  .webform-component-textarea label,
  .webform-component-textfield label {
      display: none;
  }

  .form-actions {
    margin-bottom: 0;
    text-align: right;
  }

  .form-submit {
    padding:0 $horz-spacing-unit*2;
  }
}