.page-node-123 {


  .node--webform--full {
    background: $background;
  }

  .l-content {
    h1 {
      color: $basecolor;
      line-height: 50px;
      margin: 0;
      padding-left: $horz-spacing-unit/2;
    }
  }
  .node__content {

    .form-item {
      border: 1px solid $mid-grey!important;
    }

    .field--name-body {

      padding: 5px;
      p {
        margin: 0;
      }
      margin-bottom: $vert-spacing-unit;
    }
    .button--primary {
      background-color: $basecolor;
    }

    .form-text {
      border:none!important;
      border-bottom: solid 1px $mid-grey!important;
    }
    .form-textarea {
      border: none!important;
    }
  }
}