.view-admiral-address-block {
  margin-bottom: $vert-spacing-unit;
  h2 {
    @include font-size(22px);
    margin-bottom: $vert-spacing-unit;
  }
  .field__items {
    p {
      @include font-size(16px);
      margin-bottom: 5px;
    }
    span {
      font-family: $kreon;
    }
  }

}

