.block--views-request-a-catalogue-block {
  margin-bottom: $vert-spacing-unit;
  .block__content {
    background: $white;
    padding: 5px;
    @include box-shadow(black 2px 2px 15px);
    .view-request-a-catalogue {
      .view-content {
        .views-row {
          text-align: center;
          .views-field-nothing {
            a.request-a-catalogue {
              @include border-radius(6px);
              font-family: $kreon;
              @include font-size(16px);
              font-weight: bold;
              color: $white;
              display: block;
              background: $basecolor;
              padding: $vert-spacing-unit/2 0;
              text-decoration: none;
            }
          }
          .field--name-field-article-image {
            margin-bottom: $vert-spacing-unit/2;
          }
        }
      }

    }
  }
}