/**
 * $TABLES
 */
table {
  width: 100%;
  margin-bottom: $vert-spacing-unit;
}

th {
  padding: 0.5em 1em;
  background-color: $basecolor;
  color: #fff;

  a,
  a.active {
    color: #fff;

    img {
      margin: 2px 3px;
    }
  }
}
td {
  padding: 0.5em 1em;
}

tr.odd {
  background: lighten($basecolor, 54%);
}
tr.even {
  background: lighten($basecolor, 58%);
}

caption {
  @extend .delta;
}
